@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply transition-colors duration-150;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --color-foreground: #2E2E2E;
    --color-background: #F9F9F9;
  }
}

.dark{
  --color-foreground: #EAEAEA ;
  --color-background: #121212 ;
}

.light-blue{
  --color-foreground: #0A192F  ;
  --color-background: #F0F8FF  ;
}

.dark-blue{
  --color-foreground: #60A5FA ;
  --color-background: #1E293B ;
}
